{% extends 'base.html' %}

{% block titulo %}
My Products
{% endblock %}

{% block content %}
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">ID</th>
      <th scope="col" class="px-6 py-3">Code</th>
      <th scope="col" class="px-6 py-3">Description</th>
      <th scope="col" class="px-6 py-3">Product name</th>
      <th scope="col" class="px-6 py-3">Price</th>
      <th scope="col" class="px-6 py-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{item.id}}
      </th>
      <td class="px-6 py-4">{{item.code}}</td>
      <td class="px-6 py-4">{{item.name}}</td>
      <td class="px-6 py-4">{{item.description}}</td>
      <td class="px-6 py-4">{{item.price}}</td>
      <td class="px-6 py-4">
        <button class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 focus:ring-2 focus:ring">
          + info
        </button>
        <button class="px-4 py-2 bg-blue-300 text-white font-semibold rounded-lg hover:bg-blue-400 focus:ring-2 focus:ring-blue-200 focus:outline-none transition duration-200">
          Buy
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}